---
import LinkCard from './link-card/LinkCard.astro';
import Piktogram from './Piktogram.astro';
import styles from './Komponent.module.css';
import { BodyLong, Heading, Hide } from '@navikt/ds-react';

const { heading, description } = Astro.props;
---

<LinkCard>
    <div class={styles.komponentContainer}>
        <Hide below="sm">
            <Piktogram />
        </Hide>
        <div>
            <Heading level="3" size="small" className={styles.heading}>{heading}</Heading>
            <BodyLong size="medium" className={styles.detail}>{description}</BodyLong>
        </div>
    </div>
</LinkCard>
